<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles1.css" />
    <title>KAFAL</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
         <div class="icon">
            <h1 class="logo">
                MatrimonY
            </h1>
         </div>
     
       
         <div class="form">
            <h2>Details Form</h2>
            <form action="/register" method="post">
                <input type="text" name="uname" placeholder="Enter name" style="color: black;">
                <input type="text" name="dob" placeholder="DD-MM-YYYY" style="color: black;">
                <input type="text" name="age" placeholder="Enter age" style="color: black;">
          
                <input type="text" name="gender" placeholder="Enter gender" style="color: black;">
                <input type="text" name="religion" placeholder="Enter religion" style="color: black;">
                <input type="text" name="caste" placeholder="Enter caste" style="color: black;">
                <input type="text" name="mothertongue" placeholder="Enter mother tongue" style="color: black;">
                <input type="text" name="status" placeholder="Enter status" style="color: black;">
                <input type="text" name="qualification" placeholder="Enter qualification" style="color: black;">
                <input type="text" name="occupation" placeholder="Enter occupation" style="color: black;">
                <input type="text" name="salary" placeholder="Enter salary" style="color: black;">
                <input type="text" name="height" placeholder="Enter height" style="color: black;">
                <input type="text" name="weight" placeholder="Enter weight" style="color: black;">
                <input type="text" name="state" placeholder="Enter state" style="color: black;">
                <input type="text" name="country" placeholder="Enter Country" style="color: black;">
                <br>
               
                <button class="btnn"><a  href="#">Register</a></button>
            </form>
           
           
         </div>

        </div>
    </div>



    
</body>
</html>